html
    head
        link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css', integrity='sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4', crossorigin='anonymous')
    body
        .jumbotron.jumbotron-fluid(style="background-color:#2480da;")
            .container
                .row.justify-content-md-center
                    .col
                        h1.text-center Maatwerk ICT voor uw website of web app
        .container
            .row.justify-content-md-center
                h2.col.text-center paulleonardboon@gmail.com
                h2.col.text-center 06-27390987
            .row.justify-content-md-center.mt-3
                .col-md.mb-3
                    .card
                        .p-3
                            img.card-img-top(src='https://image.freepik.com/free-icon/personal-computer-screen_318-39777.jpg')
                        .card-body
                            h5.card-title Gespecialiseerd in websites & web apps
                            p.
                                Websites en web applicaties zijn mijn specialiteit.
                                Ik heb zowel via mijn opleiding als via de proffesionele markt ervaring opgedaan met het maken van websites en applicaties.
                .col-md.mb-3
                    .card
                        img.card-img-top(src='https://png.icons8.com/ios/1600/money-box.png', alt='Card image cap')
                        .card-body
                            h5.card-title Betaalbaar
                            p Ik reken een uurtarief van &euro;25.-. U betaalt pas als u tevreden bent over het project.
                .col-md.mb-3
                    .card
                        .p-3
                            img.card-img-top(src='https://png.icons8.com/ios/100/000000/stack.png')

                        .card-body
                            h5.card-title Full stack
                            p.
                                Statische websites zijn geen probleem maar als er net wat meer vlees achter de website of webapp moet zitten is dat uiteraard ook mogelijk. 
                                Zowel de website als de technologie die erachter zit kan ontwikkeld worden.
                .col-md.mb-3
                    .card
                        img.card-img-top(src='https://png.icons8.com/ios/1600/money-box.png', alt='Card image cap')
                        .card-body
                            h5.card-title Communicatie
                            p.
                                Wanneer u ervoor kiest om samen een project te doen, doen we dat ook samen. Hierbij is frequente communicatie natuurlijk belangrijk.
                                
            .row.justify-content-md-center.margin-top
                .col-lg-6
                    h5.text-center Over mij
                    p.text-center.
                        Hallo, mijn naam is Paul Boon. Ik ben recent afgestudeerd op de HAN in Arhem en ben daarom op de hoogte van de laatste ontwikkelingen op internet gebied. 
                        Ik werk professioneel in de ICT en werk in de weekenden als ZZP'er.
        script(src="package.js")
        // Global site tag (gtag.js) - Google Analytics
        script(async='', src='https://www.googletagmanager.com/gtag/js?id=UA-64766858-2')
        script.
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', 'UA-64766858-2');

            
            

